.CharactersList {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 15px;
  }

  &__item {
    list-style: none;
  }

  &__card {
    padding: 10px;
    height: 100%;
    background-color: rgb(255, 231, 199);

    border-radius: 10px;
  }
}
