.nothingFound {
  display: flex;
  flex-direction: column;

  font-size: 3rem;
  margin: 0 auto;
  max-height: 500px;
  width: 100%;
  height: 500px;
  color: #23aed8;
  -webkit-text-stroke: 1px rgb(19, 245, 105);

  &-img {
    display: block;
    flex-grow: 1;
    height: 100%;
    object-fit: contain;
  }
}
