$yellow: #F0E14A;

.CharactersPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__filterBlock {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    & > * {
      background-color: #F0E14A;
    }
  }
}
